nav{
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center;   
    background-color: #186ACA;
    height: 40%;
    width: 100%;
    position: relative;
    z-index: 1;
    p{
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 36px;  
        color: #FFFFFF;
    }
    .icons{
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        height: 100%;
        color: white;
        .icon{
            margin-right: 40px;
            display: flex;
            align-self: center;
            cursor: pointer;
        }
        // .search{
        //     display: none;
        // }
        svg{
            height: 30px;
            width: 30px;
            display: flex;
            align-items: center;
            justify-content: center;

            path{
                height: 20px;
                width: 20px;  
            }
        }
    }
    .searchbox{
        display: flex;
        height: 40px;
        width: 400px;
        .inside_searchbox{
            background: #FFFFFF;
            width: 10%;
            height: 100%;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            padding: auto;
            svg{
                height: 30px;
                width: 30px;
                margin:5px;
                color: #CCCCCC;
            }
        }
        input{
            background: #FFFFFF;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            border: 0;
            padding: 10px ;
            padding-left:20px;
            width: 80%;
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            color: #CCCCCC;
        }
        input:focus{
            outline: none;
        }
    }
}